<div class="contact-template cf">
	<div id="map"></div>
	<div class="contactForm">
		<div class="head">
			<h3>Contact Me!</h3>
			<p>I would love to hear from you.</p>
			<span class="circle circle1"></span>
			<span class="circle circle2"></span>
			<span class="circle circle3"></span>
		</div>
		<form>
			<input type="text" required placeholder="Your Name" name="name" />
			<input type="email" required placeholder="Email" name="email" />
			<textarea placeholder="Message"></textarea>
			<a class="cool-button">Send Mail</a>
		</form>
	</div>
</div>