<div class="main-template cf">
	<div class="overlay"></div>
	<div class="contents container">
		<div class="col-lg-8">
		<h1>Hi!</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</p>
		<a href="#about" class="cool-button proceed">PROCEED &gt;</a>
		<a href="" class="cool-button resume">Download Resume <span>&gt;</span></a>
	</div>
	<div class="col-lg-2">
		<!--offset col-lg-offset-2 alternative-->
	</div>
	</div>
</div>
